.whoAmI {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: #16425B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, 'Geneva', Verdana, sans-serif;
    margin-top: 10vh;
    
}
.presentation {
    width: 90%;
    text-align: justify;

}

.whoAmI a {
    text-decoration: none;
    color: #592941;
    font-weight: 500;
}

.moreClicking {
    cursor: pointer;
    font-weight: 500;
    color: #592941;
}

.moreClicking:hover {
    font-weight: bold;
}

@media screen and (min-width : 1224px){

 .whoAmI{
    height: 100%;
    margin-top: 40px;
 }

 .whoAmI h2{
    font-size: 2rem;
 }
 .presentation {
    width: 40%;
    font-size: 1.2rem;
}

p{
    font-size: 1.2rem;
}

}

@media screen and (max-width: 767px) {
    .whoAmI video {
      width: 90%; 
    }
  }