.navbar {
    line-height: 5vh;
    background-color: #D9DCD6;
    font-family: "Segoe UI", Tahoma, 'Geneva', Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
    border-bottom: 1px solid #D9DCD6;
}

.items {
    margin-right: 10px;
    color: #f1f1f1;
    cursor: pointer;
}

.navbar a:hover{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(0, 0, 0);
    
}


.navbarBtn {
    display: none;
    background-color: #16425B;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
	
}



@media screen and (max-width: 500px) {

    .links{
        flex-direction: column;
        height: 250px;
        width: 100%;
        position: fixed;
        top: 0;
        background-color: #D9DCD6;
        box-shadow: 0px 2px 4px #ffffff;
        z-index: 666;
        
    }

    .items:nth-child(1){
        
        margin-top: 50px;
    }

    .items {
        height: 50px;
        border-bottom: 1px solid #fff;
        line-height: 50px;
    }

    .items:nth-child(4){
        border-top: none;
        border-bottom: none;
    }

    .navbarBtn {
        display: block;
        position: fixed;
        right: 10px;
        top: 10px;
        cursor: pointer;
        z-index: 5555;
    }

    .navbar a:hover{
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        padding: 3px;
    }
}

